body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.field {
    text-align: right;
    line-height: 25px;
}
label {
    float: left;
    padding-right: 10px;
}
form {
    width: 300px;
}
::placeholder {
    color: rgb(202, 202, 202);
}
#productsList li {
    margin-left: 20px;
}
#totalField {
    outline: none;
}
#totalField:hover {
    cursor: default;
    outline: none;
}
#totalField:focus {
    outline: none;
    cursor: default;
}
#totalField:active {
    outline: none;
    cursor: default;
}
